
<ion-footer>
  <ion-toolbar>
    <ion-grid class="navAbajo" style="height: 75px">
      <ion-row>
        <ion-col size="3"  class="centrar">
          <ion-icon name="people-outline" size="large" routerLink="grupos"></ion-icon>
        </ion-col>
        <ion-col size="3" class="centrar">
          <ion-icon name="bicycle-outline" size="large" routerLink="actividades"></ion-icon>
        </ion-col>
        <ion-col size="3" class="centrar">
          <ion-icon name="checkmark-done-outline" size="large" routerLink="votaciones"></ion-icon>
        </ion-col>
        <ion-col size="3" class="centrar">
          <ion-icon name="cash-outline" size="large" routerLink="costes"></ion-icon>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-footer>
