<ion-content>
    <ion-row class="centrar" style="margin-top: 140px">
      <ion-col size="12" class="centrar">
        <ion-title class="centrar" style="font-family: 'Jambo'; font-size: 70px; color: #e8af54"> Grupos </ion-title>
      </ion-col>
    </ion-row>
    <ion-row class="centrar" style="margin-top: 40px;">
      <ion-col size="6" class="centrar">
        <ion-card class="card" routerLink="/grupoFutbol">
          <ion-card-header class="centrar">
            <ion-img src="assets/icon/GrupoFutbol.png"/>
            <ion-card-title style="font-family: 'Jambo'; font-weight: bold">Futbol</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
      <ion-col size="6" class="centrar">
        <ion-card class="card">
          <ion-card-header class="centrar">
            <ion-img src="assets/icon/clase.png" />
            <ion-card-title style="font-family: 'Jambo'; font-weight: bold">Clase</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row class="centrar">
      <ion-col size="6" class="centrar">
        <ion-card class="card">
          <ion-card-header class="centrar">
            <ion-img src="assets/icon/paternos.png" style="height: 80px"/>
            <ion-card-title style="font-family: 'Jambo'; font-weight: bold">Paternos</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
      <ion-col size="6" class="centrar">
        <ion-card class="card">
          <ion-card-header class="centrar">
            <ion-img src="assets/icon/trabajo.png" style="height: 80px"/>
            <ion-card-title style="font-family: 'Jambo'; font-weight: bold">Trabajo</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
      </ion-row>
  <ion-row class="centrar modulos">
    <ion-card class="card centrar" style="width: 300px; height: 45px">
      <ion-icon name="add-circle-outline" color="tertiary" size="large"></ion-icon>
    </ion-card>
  </ion-row>

</ion-content>
