<ion-content>
  <ion-row style="margin-top: 90px">
    <ion-col size="3" class="centrar">
      <ion-card class="centrar card2" routerLink="/grupoFutbol">
        <ion-icon name="arrow-back-outline" style="font-size: 45px" color="tertiary"></ion-icon>
      </ion-card>
    </ion-col>
    <ion-col size="9" class="derecha">
      <ion-card class="card2 centrar">
        <ion-icon name="create-outline" style="font-size: 40px" color="tertiary"></ion-icon>
      </ion-card>
    </ion-col>
  </ion-row>
  <ion-row class="centrar">
    <ion-col size="12" class="centrar">
      <ion-title class="centrar" style="font-family: 'Jambo'; font-size: 70px; color: #e8af54"> Miembros </ion-title>
    </ion-col>
  </ion-row>
  <ion-row class="centrar" style="margin-top: 60px">
    <ion-col size="12" class="centrar">
      <ion-icon name="person-circle-outline" color="tertiary" class="iconos"></ion-icon>
      <ion-icon name="person-circle-outline" color="tertiary" class="iconos"></ion-icon>
      <ion-icon name="person-circle-outline" color="tertiary" class="iconos"></ion-icon>
    </ion-col>
  </ion-row>
  <ion-row class="centrar">
    <ion-col size="10.5" class="centrar">
      <ion-title class="centrar" style="font-family: 'Jambo'; font-size: 20px; font-weight: bolder"> Javi </ion-title>
      <ion-title class="centrar" style="font-family: 'Jambo'; font-size: 20px; font-weight: bolder"> Ignacio </ion-title>
      <ion-title class="centrar" style="font-family: 'Jambo'; font-size: 20px; font-weight: bolder"> Juan </ion-title>
    </ion-col>
  </ion-row>
  <ion-row class="centrar">
    <ion-col size="10.5" class="centrar">
      <ion-icon name="close-circle-outline" color="danger" style="font-size: 40px;" class="iconos"></ion-icon>
      <ion-icon name="close-circle-outline" color="danger" style="font-size: 40px;" class="iconos"></ion-icon>
      <ion-icon name="close-circle-outline" color="danger" style="font-size: 40px;" class="iconos"></ion-icon>
    </ion-col>
  </ion-row>
  <ion-row class="centrar">
    <ion-col size="12" class="centrar">
      <ion-icon name="person-circle-outline" color="tertiary" class="iconos"></ion-icon>
      <ion-icon name="person-circle-outline" color="tertiary" class="iconos"></ion-icon>
      <ion-icon name="person-circle-outline" color="tertiary" class="iconos"></ion-icon>
    </ion-col>
  </ion-row>
  <ion-row class="centrar">
    <ion-col size="10.5" class="centrar">
      <ion-title class="centrar" style="font-family: 'Jambo'; font-size: 20px; font-weight: bolder"> Dani </ion-title>
      <ion-title class="centrar" style="font-family: 'Jambo'; font-size: 20px; font-weight: bolder"> Joni </ion-title>
      <ion-title class="centrar" style="font-family: 'Jambo'; font-size: 20px; font-weight: bolder"> Pepe </ion-title>
    </ion-col>
  </ion-row>
  <ion-row class="centrar modulos">
    <ion-card class="card centrar" style="width: 300px; height: 45px"  routerLink="/añadirMiembro">
      <ion-icon name="add-circle-outline" color="tertiary" style="font-size: 45px;"></ion-icon>
    </ion-card>
  </ion-row>

</ion-content>
<app-footer></app-footer>
