<ion-content>
  <ion-row style="margin-top: 90px">
    <ion-col size="3" class="centrar">
      <ion-card class="centrar card2" routerLink="/grupos">
        <ion-icon name="exit-outline" style="font-size: 40px; transform: rotate(180deg);" color="tertiary"></ion-icon>
      </ion-card>
    </ion-col>
    <ion-col size="9" class="derecha">
      <ion-card class="card2 centrar" routerLink="/miembrosFutbol">
        <ion-icon name="people-circle-outline" style="font-size: 45px" color="tertiary"></ion-icon>
      </ion-card>
    </ion-col>
  </ion-row>
  <ion-row class="centrar">
    <ion-col size="12" class="centrar">
      <ion-title class="centrar" style="font-family: 'Jambo'; font-size: 50px; color: #e8af54"> Viaje a Almeria </ion-title>
    </ion-col>
  </ion-row>
  <ion-row class="centrar">
    <ion-card class="card1">
      <ion-img src="assets/icon/Almeria.jpg"/>
    </ion-card>
  </ion-row>
  <ion-row class="centrar">
    <ion-col size="12" class="centrar">
      <ion-title class="centrar" style="font-family: 'Jambo'; font-size: 28px;"> Del __/__ al __/__ </ion-title>
    </ion-col>
  </ion-row>
  <ion-row class="centrar">
    <ion-col size="12" class="centrar">
      <ion-card class="card">
        <ion-card-header style="margin-top: 0px">
          <ion-row>
            <ion-col size="12">
              <ion-card-title style="font-family: 'Jambo'; font-size: 21px; font-weight: bold; text-align: left;">Lugar de salida: Casa David</ion-card-title>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="12">
              <ion-card-title style="font-family: 'Jambo'; font-size: 21px; font-weight: bold; text-align: left;">Hora de salida: 17:30</ion-card-title>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="12">
              <ion-card-title style="font-family: 'Jambo'; font-size: 21px; font-weight: bold; text-align: left;">Presupuesto estimado: 400€</ion-card-title>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="12">
              <ion-card-title style="font-family: 'Jambo'; font-size: 21px; font-weight: bold; text-align: left;">Clima estimado: Soleado todos los días </ion-card-title>
            </ion-col>
          </ion-row>
        </ion-card-header>
      </ion-card>
    </ion-col>
  </ion-row>
  <ion-row class="centrar">
    <ion-card class="card centrar" style="width: 190px; height: 70px; margin-top: 20px">
      <ion-card-title style="font-family: 'Jambo'; font-size: 50px; font-weight: bold; text-align: center;">430€</ion-card-title>
    </ion-card>
  </ion-row>
</ion-content>
<app-footer></app-footer>

