// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/
:root {
  --ion-color-primary: #e8af54;
  --ion-color-secondary: #72b2dd;
  --ion-color-tertiary: #1e1f22;
}
