.card {
  width: 130px;
  height: 130px;
  background-color: #e8af54;
  border: #1e1f22 1px solid;
  border-radius: 40px;
}
.card1 {
  width: 60px;
  height: 60px;
  background-color: #72b2dd;
  border: #1e1f22 1px solid;
  border-radius: 20px;
}
