<ion-content>
  <ion-row class="centrar" style="margin-top: 120px">
    <ion-col size="12" class="centrar">
      <ion-title class="centrar" style="font-family: 'Jambo'; font-size: 70px; color: #e8af54"> Votaciones </ion-title>
    </ion-col>
  </ion-row>
  <ion-row class="centrar">
    <ion-col size="5" class="centrar">
      <ion-card class="card">
        <ion-card-header class="centrar">
          <ion-img src="assets/icon/yoga.png" style="height:60px" />
          <ion-card-title style="font-family: 'Jambo'; font-weight: bold">YOGA</ion-card-title>
        </ion-card-header>
      </ion-card>
    </ion-col>
    <ion-col size="1" class="centrar">
      <ion-title class="centrar" style="font-family: 'Jambo'; font-size: 30px; font-weight: bold; color: #1e1f22"> 25€ </ion-title>
    </ion-col>
    <ion-col size="3" class="centrar">
      <ion-card class="card1">
        <ion-card-header class="centrar">
          <ion-icon name="thumbs-up-outline" size="large" color="tertiary"></ion-icon>
        </ion-card-header>
      </ion-card>
    </ion-col>
    <ion-col size="3" class="centrar">
      <ion-card class="card1">
        <ion-card-header class="centrar">
          <ion-icon name="thumbs-down-outline" size="large" color="tertiary"></ion-icon>
        </ion-card-header>
      </ion-card>
    </ion-col>
  </ion-row>
  <ion-row class="centrar" style="margin-top: 20px;">
    <ion-col size="5" class="centrar">
      <ion-card class="card">
        <ion-card-header class="centrar">
          <ion-img src="assets/icon/paracaidas.png" style="height:55px" />
          <ion-card-title style="font-family: 'Jambo'; font-weight: bold">PARACAIDAS</ion-card-title>
        </ion-card-header>
      </ion-card>
    </ion-col>
    <ion-col size="1" class="centrar">
      <ion-title class="centrar" style="font-family: 'Jambo'; font-size: 30px; font-weight: bold; color: #1e1f22"> 36€ </ion-title>
    </ion-col>
    <ion-col size="3" class="centrar">
      <ion-card class="card1">
        <ion-card-header class="centrar">
          <ion-icon name="thumbs-up-outline" size="large" color="tertiary"></ion-icon>
        </ion-card-header>
      </ion-card>
    </ion-col>
    <ion-col size="3" class="centrar">
      <ion-card class="card1">
        <ion-card-header class="centrar">
          <ion-icon name="thumbs-down-outline" size="large" color="tertiary"></ion-icon>
        </ion-card-header>
      </ion-card>
    </ion-col>
  </ion-row>
  <ion-row class="centrar" style="margin-top: 20px;">
    <ion-col size="5" class="centrar">
      <ion-card class="card">
        <ion-card-header class="centrar">
          <ion-img src="assets/icon/telescopio.png" style="height:60px" />
          <ion-card-title style="margin-top: 0px; font-family: 'Jambo'; font-weight: bold">OBSERVATORIO</ion-card-title>
        </ion-card-header>
      </ion-card>
    </ion-col>
    <ion-col size="1" class="centrar">
      <ion-title class="centrar" style="font-family: 'Jambo'; font-size: 30px; font-weight: bold; color: #1e1f22"> 15€ </ion-title>
    </ion-col>
    <ion-col size="3" class="centrar">
      <ion-card class="card1">
        <ion-card-header class="centrar">
          <ion-icon name="thumbs-up-outline" size="large" color="tertiary"></ion-icon>
        </ion-card-header>
      </ion-card>
    </ion-col>
    <ion-col size="3" class="centrar">
      <ion-card class="card1">
        <ion-card-header class="centrar">
          <ion-icon name="thumbs-down-outline" size="large" color="tertiary"></ion-icon>
        </ion-card-header>
      </ion-card>
    </ion-col>
  </ion-row>
  <ion-row class="centrar">
    <ion-card class="card centrar" style="width: 300px; height: 45px">
      <ion-icon name="add-circle-outline" color="tertiary" style="font-size: 45px;"></ion-icon>
    </ion-card>
  </ion-row>

</ion-content>
<app-footer></app-footer>
